@charset "UTF-8";
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v47-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v47-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v22-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v22-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.title {
  margin: 0 auto;
  color: #151515;
  margin-bottom: 130px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: rgba(21, 21, 21, 0.6);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  cursor: default;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 38px 60px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__logo {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__item {
  max-width: 110px;
  text-align: center;
}
.header__link {
  color: #181818;
  font-size: 14px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__link:hover {
  color: rgb(101, 98, 147);
}
.header__registration {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header__button {
  width: 93px;
  height: 31px;
  border: none;
  border-radius: 5px;
  background-color: rgb(101, 98, 147);
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: border, background-color, 0.3s;
  transition: border, background-color, 0.3s;
}
.header__button:hover {
  border: 1px solid rgb(101, 98, 147);
  background-color: transparent;
  color: #151515;
}

.hero-section {
  padding-top: 90px;
  background-image: url(/img/hero-section-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 170px;
  margin-bottom: 35px;
}
.hero-section__title-text {
  margin-bottom: 48px;
  font-family: "Roboto";
  font-size: 66px;
  line-height: 1.2;
  color: #151515;
  max-width: 578px;
  font-weight: 400;
}
.hero-section__title-text--color {
  color: rgb(101, 98, 147);
  font-weight: 700;
  text-transform: uppercase;
}
.hero-section__image {
  border: 15px solid rgb(255, 255, 255);
  border-radius: 120px 120px 120px 120px;
  -webkit-box-shadow: 0px 0px 12px 2px gray;
          box-shadow: 0px 0px 12px 2px gray;
}
.hero-section__link {
  color: #151515;
}
.hero-section__link-container {
  position: relative;
}
.hero-section__link::after {
  content: url("../img/arrow-right.svg");
  position: absolute;
  margin-left: 9px;
  top: 3px;
}
.hero-section__link-container {
  position: relative;
}

.form__backdrop {
  height: 270px;
  width: 100%;
  max-width: 1280px;
  background-color: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: 0 5px 13px 7px grey;
          box-shadow: 0 5px 13px 7px grey;
  padding: 15px 30px;
  margin: -80px auto;
  position: relative;
}
.form__select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.form__select-container .select {
  border: none;
  background-color: transparent;
  color: #151515;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  margin-right: 35px;
}
.form__select-container .select:last-child {
  margin-right: 0;
}
.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  gap: 6px;
}
.form__from {
  border: 2px solid rgb(170, 170, 170);
  border-radius: 10px;
  padding: 16px 20px;
  max-width: 345px;
}
.form__from-text {
  color: rgba(21, 21, 21, 0.6);
  font-size: 14px;
  text-transform: uppercase;
}
.form__from-input {
  width: 320px;
  border: none;
  font-size: 24px;
  font-weight: 600;
  color: black;
  margin-bottom: 15px;
}
.form__from-input:focus {
  outline: 0;
  outline-offset: 0;
}
.form__from-input::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form__from-input::-moz-placeholder {
  color: black;
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form__from-input:-moz-placeholder {
  color: black;
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form__from-input:-ms-input-placeholder {
  color: black;
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form__from-input:focus::-webkit-input-placeholder {
  color: black;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form__from-input:focus::-moz-placeholder {
  color: black;
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form__from-input:focus:-moz-placeholder {
  color: black;
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form__from-input:focus:-ms-input-placeholder {
  color: black;
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form__button-replace {
  margin: auto 0;
}
.form__button-replace-item {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
}
.form__button-replace-item-img {
  max-width: 15px;
}
.form__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 2px solid rgb(170, 170, 170);
  border-radius: 12px;
  padding: 16px 70px;
  margin-left: 30px;
}
.form__date-return {
  text-align: center;
}
.form__book-btn {
  width: 233px;
  height: 80px;
  border: none;
  background-color: rgb(101, 98, 147);
  text-align: center;
  border-radius: 12px;
  position: absolute;
  bottom: -17%;
  left: 40%;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form__book-btn:hover {
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px 2px grey;
          box-shadow: 0px 0px 2px 2px grey;
  color: black;
}
.form__book-btn:hover svg {
  fill: black;
}
.form__book-btn-arrow {
  position: absolute;
  fill: white;
  top: 40%;
  right: 20%;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.form-control {
  border: none;
  max-width: 100px;
  font-size: 24px;
  font-weight: 600;
  color: black;
  position: absolute;
  opacity: 0; /* Прячем оригинальный input */
  pointer-events: none; /* Отключаем клики */
  width: 100%;
}
.form-control:focus {
  outline: 0;
  outline-offset: 0;
}
.form-control::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-control::-moz-placeholder {
  color: black;
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-control:-moz-placeholder {
  color: black;
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-control:-ms-input-placeholder {
  color: black;
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-control:focus::-webkit-input-placeholder {
  color: black;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-control:focus::-moz-placeholder {
  color: black;
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-control:focus:-moz-placeholder {
  color: black;
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form-control:focus:-ms-input-placeholder {
  color: black;
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.calendar-icon,
.calendar-second-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  cursor: pointer;
}

.flatpickr {
  position: relative;
  display: inline-block;
}

#date {
  position: absolute;
  opacity: 0; /* Прячем оригинальный input */
  pointer-events: none; /* Отключаем клики */
  width: 100%;
}

.formatted-date,
.formatted-date-return {
  display: inline-block;
  text-align: center;
  line-height: 1.5;
  min-width: 80px;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.section-private {
  padding: 135px 0;
}
.section-private__title {
  margin: 0 auto;
  color: #151515;
  margin-bottom: 130px;
}
.section-private__title-text {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.section-private__jet {
  margin-bottom: 180px;
  position: relative;
}
.section-private__jet:last-child {
  margin-bottom: 0;
}
.section-private__jet-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-private__jet-backdrop-first {
  width: 330px;
  height: 525px;
  background-color: rgb(229, 244, 246);
  border-radius: 0 50px 50px 0;
  position: absolute;
  top: -20%;
  left: -15.5%;
  z-index: -1;
}
.section-private__jet-backdrop-second {
  width: 330px;
  height: 525px;
  background-color: rgb(229, 244, 246);
  border-radius: 50px 0 0 50px;
  position: absolute;
  bottom: -15%;
  right: -15.5%;
  z-index: -1;
}
.section-private__jet-description-title {
  font-size: 24px;
  font-weight: 600;
  color: #151515;
  margin-bottom: 14px;
}
.section-private__jet-description-text {
  color: rgba(21, 21, 21, 0.6);
  letter-spacing: 2px;
}
.section-private__jet-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.section-private__jet-img-item {
  border-radius: 20px;
}

.section-performance__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}
.section-performance__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-performance__cards-container {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}
.section-performance__card {
  border-radius: 12px;
  -webkit-box-shadow: 0px 11px 16px 4px grey;
          box-shadow: 0px 11px 16px 4px grey;
  padding: 40px 52px 50px;
  margin-bottom: 30px;
}
.section-performance__card:last-child {
  margin-bottom: 0;
}
.section-performance__card-icon {
  margin: 0 auto 12px;
}
.section-performance__card-title {
  text-align: center;
  font-size: 18px;
  color: #151515;
  margin-bottom: 10px;
}
.section-performance__card-text {
  text-align: center;
}

.section-luxury__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 80px;
}
.section-luxury__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.section-luxury__container::after {
  content: "";
  width: 854px;
  height: 340px;
  background: url(/img/map.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  position: absolute;
  top: -10%;
  right: -15%;
  z-index: -1;
}
.section-luxury__card {
  background-color: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: 0px 6px 9px 1px grey;
          box-shadow: 0px 6px 9px 1px grey;
  padding: 10px 12px 52px;
}
.section-luxury__card-img {
  border-radius: 12px;
  margin-bottom: 14px;
}
.section-luxury__card-text {
  text-align: center;
  color: #151515;
  margin-bottom: 0;
}

.section-cards {
  margin-bottom: 220px;
}
.section-cards__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 65px;
}
.section-cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-cards__item {
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
  padding: 24px;
  width: 100%;
  max-width: 400px;
  height: 572px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.section-cards__item:hover {
  background-color: rgb(101, 98, 147);
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}
.section-cards__item:hover button {
  color: #151515;
  background-color: rgb(245, 245, 245);
}
.section-cards__item:hover p {
  color: rgb(245, 245, 245);
}
.section-cards__item:hover h3 {
  color: rgb(245, 245, 245);
}
.section-cards__item:hover li {
  color: rgb(245, 245, 245);
}

.text-block {
  border-bottom: 1px dashed rgb(169, 169, 170);
}
.text-block__title {
  font-size: 32px;
  font-weight: 700;
  color: #151515;
  margin-bottom: 32px;
}
.text-block__text {
  color: rgb(169, 169, 170);
  font-size: 22px;
}
.text-block__list-item {
  position: relative;
  color: #151515;
  margin: 0 0 16px 30px;
}
.text-block__list-item:last-child {
  margin-bottom: 18px;
}
.text-block__list-item::before {
  content: "";
  background-image: url(../img/check-alt.svg);
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: -31px;
}

.choise-block {
  padding-top: 65px;
}
.choise-block__price {
  font-size: 18px;
  color: #151515;
  margin-bottom: 24px;
}
.choise-block__price-text-bold {
  font-size: 32px;
  font-weight: 700;
}
.choise-block__price-btn {
  border: none;
  border-radius: 12px;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  background-color: rgb(101, 98, 147);
  width: 100%;
  padding: 12px;
  cursor: pointer;
}

.footer {
  background-color: rgb(101, 98, 147);
  padding: 50px 150px 15px;
}
.footer__logo {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
.footer__logo-link {
  display: block;
  margin: 0 auto 30px;
  width: 140px;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.footer__nav-list-link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__nav-list-link:hover {
  color: #151515;
}
.footer__nav-rigths-link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__nav-rigths-link:hover {
  color: #151515;
}/*# sourceMappingURL=main.css.map */