/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v47-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v47-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v22-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v22-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.title {
  margin: 0 auto;
  color: #151515;
  margin-bottom: 130px;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: rgba(21, 21, 21, 0.6);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  cursor: default;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 38px 60px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__logo {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__item {
  max-width: 110px;
  text-align: center;
}
.header__link {
  color: #181818;
  font-size: 14px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__link:hover {
  color: rgb(101, 98, 147);
}
.header__registration {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header__button {
  width: 93px;
  height: 31px;
  border: none;
  border-radius: 5px;
  background-color: rgb(101, 98, 147);
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: border, background-color, 0.3s;
  transition: border, background-color, 0.3s;
}
.header__button:hover {
  border: 1px solid rgb(101, 98, 147);
  background-color: transparent;
  color: #151515;
}

.hero-section {
  padding-top: 90px;
  background-image: url("/img/hero-section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 170px;
  margin-bottom: 35px;
}
.hero-section__title-text {
  margin-bottom: 48px;
  font-family: "Roboto";
  font-size: 66px;
  line-height: 1.2;
  color: #151515;
  max-width: 578px;
  font-weight: 400;
}
.hero-section__title-text--color {
  color: rgb(101, 98, 147);
  font-weight: 700;
  text-transform: uppercase;
}
.hero-section__image {
  border: 15px solid rgb(255, 255, 255);
  border-radius: 120px 120px 120px 120px;
  -webkit-box-shadow: 0px 0px 12px 2px gray;
          box-shadow: 0px 0px 12px 2px gray;
}
.hero-section__link {
  color: #151515;
}
.hero-section__link-container {
  position: relative;
}
.hero-section__link::after {
  content: url("/img/arrow-right.svg");
  position: absolute;
  margin-left: 9px;
  top: 3px;
}
.hero-section__link-container {
  position: relative;
}

.form__backdrop {
  height: 250px;
  width: 100%;
  max-width: 1280px;
  background-color: #000;
  border-radius: 12px;
  margin-top: -70px;
}

.section-private {
  padding: 135px 0;
}
.section-private__title {
  margin: 0 auto;
  color: #151515;
  margin-bottom: 130px;
}
.section-private__title-text {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.section-private__jet {
  margin-bottom: 180px;
  position: relative;
}
.section-private__jet:last-child {
  margin-bottom: 0;
}
.section-private__jet-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-private__jet-backdrop-first {
  width: 330px;
  height: 525px;
  background-color: rgb(229, 244, 246);
  border-radius: 0 50px 50px 0;
  position: absolute;
  top: -20%;
  left: -15.5%;
  z-index: -1;
}
.section-private__jet-backdrop-second {
  width: 330px;
  height: 525px;
  background-color: rgb(229, 244, 246);
  border-radius: 50px 0 0 50px;
  position: absolute;
  bottom: -15%;
  right: -15.5%;
  z-index: -1;
}
.section-private__jet-description-title {
  font-size: 24px;
  font-weight: 600;
  color: #151515;
  margin-bottom: 14px;
}
.section-private__jet-description-text {
  color: rgba(21, 21, 21, 0.6);
  letter-spacing: 2px;
}
.section-private__jet-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.section-private__jet-img-item {
  border-radius: 20px;
}

.section-performance__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}
.section-performance__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-performance__cards-container {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}
.section-performance__card {
  border-radius: 12px;
  -webkit-box-shadow: 0px 11px 16px 4px grey;
          box-shadow: 0px 11px 16px 4px grey;
  padding: 40px 52px 50px;
  margin-bottom: 30px;
}
.section-performance__card:last-child {
  margin-bottom: 0;
}
.section-performance__card-icon {
  margin: 0 auto 12px;
}
.section-performance__card-title {
  text-align: center;
  font-size: 18px;
  color: #151515;
  margin-bottom: 10px;
}
.section-performance__card-text {
  text-align: center;
}/*# sourceMappingURL=main.css.map */