// Colors
$header-color-text-black: #181818;
$text-color-white: #ffffff;
$titles-color-basic-black: #000000;
$text-color-black: #151515;
$text-color-black-rgb: rgba(21, 21, 21, 0.6);
$color-purple: rgba(101, 98, 147, 1);
