.footer {
  background-color: $color-purple;
  padding: 50px 150px 15px;

  &__logo {
    border-bottom: 1px solid gray;
    margin-bottom: 20px;

    &-link {
      display: block;
      margin: 0 auto 30px;
      width: 140px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-list {
      display: flex;
      gap: 30px;

      &-link {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7);
        text-transform: uppercase;
        transition: color 0.3s;

        &:hover {
          color: $text-color-black;
        }
      }
    }

    &-rigths-link {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.7);
      transition: color 0.3s;

      &:hover {
        color: $text-color-black;
      }
    }
  }
}
