.section-luxury {
  //   background-image: url(/img/map.png);
  //   background-size: inherit;
  //   background-repeat: no-repeat;
  //   background-position: right 80%;

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 80px;
  }

  &__container {
    display: flex;
    gap: 30px;
    justify-content: center;
    position: relative;

    &::after {
      content: '';
      width: 854px;
      height: 340px;
      background: url(/img/map.png);
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.3;
      position: absolute;
      top: -10%;
      right: -15%;
      z-index: -1;
    }
  }

  &__card {
    background-color: $text-color-white;
    border-radius: 12px;
    box-shadow: 0px 6px 9px 1px grey;
    padding: 10px 12px 52px;

    &-img {
      border-radius: 12px;
      margin-bottom: 14px;
    }

    &-text {
      text-align: center;
      color: $text-color-black;
      margin-bottom: 0;
    }
  }
}
